<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kits.dk </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/ministyle.css")
</head>
<body>
    <div class="content">
        <header>

            <a class="topLogo" href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/logo.png" alt="logo" class='logo' />
            </a>
     
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li> @Html.ActionLink("Shop", "Index", "products")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    </ul>
                </div>
            </nav>

            <span class='basket'>
                <a href="@Url.Action("Index", "Cart")">
                    <img src='~/Content/img/basket.png' alt="shopping basket" />
                </a>
            </span>

        </header>
        <section>
            @RenderBody()
        </section>
        <footer>
            <span>
                &copy; @Html.ActionLink("Kits.dk", "index", "Home")
            </span>
            <span>@Html.ActionLink("Terms and conditions", "Services", "Home")</span>
            <span>@Html.ActionLink("Contact", "Services", "Home")</span>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/navbar.js")
    @RenderSection("scripts", required: false)
</body>
</html>
