<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kits.dk </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/ministyle.css")


</head>
<body>
    <header>
        <nav>
            <span class="topnav" id="myTopnav">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Shop", "Index", "products")
                @Html.ActionLink("Kits", "Index", "Home", new { area = "" }, new { @class = "" })
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Services", "Services", "Home")
                <a href="#news"><img src='~/Content/img/logo.png' alt="logo" class='logo' /></a>
            </span>
            <span class='basket'>@Html.ActionLink("Cart", "Index", "Cart") <img src='~/Content/img/basket.png' alt="shopping basket" /></span>
        </nav>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
            <span> @Html.ActionLink("Kits.dk", "index", "Home")</span>
            <span>@Html.ActionLink("Terms and conditions", "Services", "Home")</span>
            <span>@Html.ActionLink("Contact", "Services", "Home")</span>
</footer>
    @Scripts.Render("~/Scripts/navbar.js")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
