@using kits.Models;

@helper RenderProduct(product product)
{
    <div onclick="location.href = '@(Url.Action("Details", "products", new { id = product.product_ID }))'">

        <img src="~/images/placeholder.jpg" class="shopimage" />
        <div class="product-name-text">
            @Html.DisplayFor(modelItem => product.product_name)
        </div>
        <div class="product-price-text">
            @Html.DisplayFor(modelItem => product.product_price)
        </div>
    </div>
}

@{
    ViewBag.Title = "Index";
}

<div class="titletext">Kits Shop</div>
<br />
<br />

@using (Html.BeginForm())
{
    @Html.DropDownList("CategoryId", "All categories")
    <button type="submit"> Filter </button>
}


<div class="shop">
    @foreach (var product in ViewBag.Products)
    {
        @RenderProduct(product)
    }
</div>