@model IEnumerable<kits.Models.order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>User email</th>
        <th>Order state</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.user_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_ID })
        </td>
    </tr>
}

</table>
